<img src="<%= @this_photo.image %>" alt="photo">

<dl>
  <dt>
    Caption
  </dt>
  <dd>
    <%= @this_photo.caption %>
  </dd>

  <dt>
    Owner
  </dt>
  <dd>
    <%= @this_photo.poster.username %>
  </dd>

   <dt>
    Posted
  </dt>
  <dd>
    <%= @this_photo.created_at %>
  </dd> 

  <dt>
    Edit photo
  </dt>
  <dd>
    image
  </dd>

  <dt>
    Delete photo
  </dt>
  <dd>
    delete this photo
  </dd>
</dl>

<h2>Coments</h2>

<table>
  <tr>
    <th>
      Commenter
    </th>

    <th>
      Comment
    </th>

    <th>
      Posted
    </th>
  </tr>

  <% @this_photo.comments.each do |comment| %>
    <tr>
      <td>
        <%= comment.commenter.username %>
      </td>

      <td>
        <%= comment.body %>
      </td>

      <td>
        <%= comment.created_at %>
      </td>
    </tr>

  <% end %>
</table>

<h3>Add comment</h3>
